<header>
    <div class="container header_section">
        <div class="col-md-5 nopadding">
            <h1><a href="@Url.Action("Index","Home")" style="font-weight:700; color:#073c72;"><img src="@Url.Content("~/content/img/Logo.jpg")" alt="brand" class="brand"></a></h1>
        </div>
        <div class="col-md-7 nopadding">
            <ul class="headerNav">
                <li><a href="https://lifeinsurancedeal.co.uk/criticalillness">Critical Illness</a></li>
                <li><a href="https://lifeinsurancedeal.co.uk/lifeover50">Over 50s</a></li>
                <li style="padding-right:0;"><a href="https://lifeinsurancedeal.co.uk/mortgagelife">Mortgage Insurance</a></li>
                <div class="clr"></div>
            </ul>

        </div>
        <div class="clr"></div>
    </div>
</header>
