<footer>
    <div class="footersection">
        <div class="container">
            <ul>
                <li><a href="@Url.Action("ContactUs","Home")">Contact Us </a></li>
                <li>|</li>
                <li><a href="#" data-toggle="modal" data-target="#myModal2">Terms &amp; Conditions</a></li>
                <li>|</li>
                <li><a href="#" data-toggle="modal" data-target="#myModal">Privacy Policy</a></li>
                <!-- <li><a href="javascript:void(0);">Cookie Policy</a></li>
                <li>|</li>
                <li><a href="javascript:void(0);">Complaint Handling Procedure</a></li>
                <li>|</li> -->
                <div class="clr"></div>
            </ul>
            <p>
                Lifeinsurancedeal.co.uk and the logo are registered trademarks of Web Search Media Limited. Data protection <b>registration no: ZA233488</b>.
            </p>
            <p>Copyright 2017-@DateTime.Now.Year © lifeinsurancedeal.co.uk. All rights reserved.</p>
        </div>
    </div>
    <div class="disclaimer">
        <p>
            <b>Disclaimer:</b> We do not provide any financial advice. lifeinsurancedeal.co.uk works with FCA regulated brokers who search and compare insurance policies from multiple UK insurers. The quotes provided are based on the information you submit to us. Our service is free and you are under no obligation to accept the quotes you receive.
        </p>
        <h5>*£5 premium is based on £70,000 of level term cover for a non-smoking individual aged 30 next birthday and in good health. Prices correct 01/17 </h5>
        <h5>
            *The content of the site is for information purposes only and does not constitute financial advice under the financial conduct authority regulations.
        </h5>
        <h5>*Please seek independent advice before considering any type of insurance services product. </h5>
    </div>
</footer>
<!--end_footer-->

