
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutThank.cshtml";
}

<section class="comon_body">
    <div class="container allbody thanku">
        <h2>Thank you <span>for your Application, &nbsp; <b></b></span></h2>
        <p>
            We just need to ask you a few final questions to give you an accurate quote, and to determine what's best for you. <br>
            A friendly life insurance adviser will call or email you shortly to discuss further.
        </p>
        <div class="clr"></div>
    </div>
</section>

